/* ===== Navigation ===== */
nav {
  background-color: #eee;
  padding: 1rem;           
  text-align: center;      
}

nav a {
  text-decoration: none;   
  color: #333;             
  margin: 0 1rem;          
  font-weight: bold;       
}

/* ===== Main Heading ===== */
h1 {
  font-size: 2rem;         
  color: #2a4d69;          
  text-align: center;      
}

/* ===== Main Content ===== */
main {
  max-width: 840px;       
}

/* ===== Sidebar ===== */
aside {
  width: 20rem;                       
  margin: 1rem;                       
  border: 1px solid rgb(0 0 0 / 0.2);  
  padding: 1rem;                       
  background-color: #eee;              
  color: #333;                         
  text-align: center;                   
}

aside img {
  width: 200px;          
  height: auto;        
}

/* ===== Paragraphs ===== */
p {
  padding: 0;            
}

/* ===== Footer ===== */
footer {
  margin-top: 15px;      
  border-top: 1px solid #000; 
  text-align: center;    
}
